{% extends 'layout2.html' %}
{% block body %}
       <script>
          function removeElement(elementId) {
               // Removes an element from the document
               var element = document.getElementById(elementId);
                element.parentNode.removeChild(element);
           }


       </script>
  <!-- Left side column. contains the logo and sidebar -->
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
         
       

     {% if message %}
                <div class="isa_success">
                   <i class="fa fa-check"></i>
                {{ message }}

              </div>
                {% endif %}



      <h1>
         Welcome to DocCerts
      
      </h1>
      <ol class="breadcrumb">
        <li><a href="/home"><i class="glyphicon glyphicon-home"></i> Home</a></li>
        <li><a href="#"></a></li>
      

      </ol>
    </section>
      

        
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6">



          <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Number of certificates by Institution </h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="barChart" style="height:230px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

                    <!-- AREA CHART -->
                    <div class="box box-primary">
                      <div class="box-header with-border">
              <h3 class="box-title"> Recently  Verified Certificates </h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                            <table id="example1" class="table table-bordered table-striped">
                              <thead>

                              <tr>
                                <th>Student Full Name</th>
                                
                                <th>Certificate ID</th>
                                <th> Major </th>
                                <th>Degree</th>
                              </tr>
                              </thead>
                              <tbody>
                                  {% if certificates %}
                                    {% for row in certificates %}
                              <tr>
                                  <td>{{ row[15]  }} {{ row[16]  }}</td>
                                  
                                  <td>{{ row[5].replace("_"," ")  }}</td>
                                  <td>{{ row[7].replace("_"," ")  }}</td>
                                  <td>{{ row[8]  }}</td>
                              </tr>
                                 {% endfor %}
                                 {% endif %}
                              </tbody>
    </table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">



                    <!-- DONUT CHART -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Number of Certificates by Major</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
                <canvas id="pieChart" style="height:250px"></canvas>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <!-- LINE CHART -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title"> Listing verifiers </h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                              <thead>

                              <tr>
                                <th>First Name</th>
                                <th>Last Name </th>
                                <th>Email</th>
                              </tr>
                              </thead>
                              <tbody>
                                {% if chaine3 %}
                                    {% for row in chaine3 %}
                              <tr>
                                  <td>{{ row[2]  }} </td>

                                  <td>{{ row[6]}}</td>
                                  <td>{{ row[4]}}</td>
                                  
                              </tr>
                                 {% endfor %}
                                 {% endif %}

                              </tbody>
    </table>   
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->



        </div>



        <!-- /.col (RIGHT) -->
      </div>
      <!-- /.row -->


</section>
</div>
  
{% include 'includes/footer.html' %}

  <!-- Control Sidebar -->
  
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script   src="{{url_for('static', filename = 'bower_components/jquery/dist/jquery.min.js')}}" ></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{url_for('static', filename = 'bower_components/bootstrap/dist/js/bootstrap.min.js')}}"  ></script>
<!-- FastClick -->
<script src="{{url_for('static', filename = 'bower_components/fastclick/lib/fastclick.js')}}" ></script>
<!-- AdminLTE App -->
<script  src="{{url_for('static', filename = 'dist/js/adminlte.min.js')}}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{url_for('static', filename = 'dist/js/demo.js')}}"  ></script>

<!-- ChartJS -->
<script src="{{url_for('static', filename = 'bower_components/chart.js/Chart.js')}}" ></script>

<script src="{{url_for('static', filename = 'bower_components/chart.js/Chart.js')}}" ></script>
<!--
  var xx=[];
       var yy=[];
         {% for l in chaine2 %}
            xx.push({{l[0]}});
            yy.push('{{l[1]}}');
         {% endfor %}


-->
<script>
  $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */
       var xx=[];
       var yy=[];
         {% for l in chaine2 %}
            xx.push({{l[0]}});
            yy.push('{{l[1]}}');
         {% endfor %}
     
    
       var areaChartData = {
      labels  : yy,
      datasets: [
        {
          label               : 'Number of certificates',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : []
        },              
        {
          label               : 'number of certificates by institution',
          fillColor           : 'rgba(60,141,188,0.9)',
          strokeColor         : 'rgba(60,141,188,0.8)',
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                :xx
        }       
       
      ]
    }



    var areaChartOptions = {
      //Boolean - If we should show the scale at all
      showScale               : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : false,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - Whether the line is curved between points
      bezierCurve             : true,
      //Number - Tension of the bezier curve between points
      bezierCurveTension      : 0.3,
      //Boolean - Whether to show a dot for each point
      pointDot                : false,
      //Number - Radius of each point dot in pixels
      pointDotRadius          : 4,
      //Number - Pixel width of point dot stroke
      pointDotStrokeWidth     : 1,
      //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
      pointHitDetectionRadius : 20,
      //Boolean - Whether to show a stroke for datasets
      datasetStroke           : true,
      //Number - Pixel width of dataset stroke
      datasetStrokeWidth      : 2,
      //Boolean - Whether to fill the dataset with a color
      datasetFill             : true,
      //String - A legend template
      legendTemplate          : true,
      //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio     : true,
      //Boolean - whether to make the chart responsive to window resizing
      responsive              : true
    }



        //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas                   = $('#barChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData                     = areaChartData
    barChartData.datasets[1].fillColor   = '#00a65a'
    barChartData.datasets[1].strokeColor = '#00a65a'
    barChartData.datasets[1].pointColor  = '#00a65a'
    var barChartOptions                  = {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleBeginAtZero        : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : true,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - If there is a stroke on each bar
      barShowStroke           : true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth          : 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing         : 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing       : 1,
      //String - A legend template
      legendTemplate : true,
      //Boolean - whether to make the chart responsive
      responsive              : true,
      maintainAspectRatio     : true
    }

    barChartOptions.datasetFill = false
    barChart.Bar(barChartData, barChartOptions)

    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
       var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieChart       = new Chart(pieChartCanvas)
    var x=[]
    var y=[]
    {% for l in chaine1 %}
       x.push({{l[0]}});
       y.push('{{l[1]}}');
    {% endfor %}

    var type = y
    var color =[ "#f56954","#00a65a","#f39c12"]
    
    
    var PieData        = [ ]
    var test ;
  for(var i= 0; i < x.length; i++)

     {

     test =  { value    : x[i],
        color    : color[i],
        highlight: color[i],
        label    : type[i]
      },
    PieData.push(test);
      }


     
    var pieOptions     = {
      //Boolean - Whether we should show a stroke on each segment
      segmentShowStroke    : true,
      //String - The colour of each segment stroke
      segmentStrokeColor   : '#fff',
      //Number - The width of each segment stroke
      segmentStrokeWidth   : 2,
      //Number - The percentage of the chart that we cut out of the middle
      percentageInnerCutout: 50, // This is 0 for Pie charts
      //Number - Amount of animation steps
      animationSteps       : 100,
      //String - Animation easing effect
      animationEasing      : 'easeOutBounce',
      //Boolean - Whether we animate the rotation of the Doughnut
      animateRotate        : true,
      //Boolean - Whether we animate scaling the Doughnut from the centre
      animateScale         : false,
      //Boolean - whether to make the chart responsive to window resizing
      responsive           : true,
      // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio  : true,
      //String - A legend template
      legendTemplate       : true
    }
    // You can switch between pie and douhnut using the method below.
    pieChart.Doughnut(PieData, pieOptions)


    //-------------
    //- LINE CHART -
    //--------------
    var lineChartCanvas          = $('#lineChart').get(0).getContext('2d')
    var lineChart                = new Chart(lineChartCanvas)
    var lineChartOptions         = areaChartOptions
    lineChartOptions.datasetFill = false
    lineChart.Line(areaChartData, lineChartOptions)



    //--------------
    //- AREA CHART -
    //--------------

    // Get context with jQuery - using jQuery's .get() method.
    var areaChartCanvas = $('#areaChart').get(0).getContext('2d')
    // This will get the first returned node in the jQuery collection.
    var areaChart       = new Chart(areaChartCanvas)


   
   
    //Create the line chart
    areaChart.Line(areaChartData, areaChartOptions)

    
   

  })
</script>






</body>
</html>

{% endblock %}

